{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALENDAR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
  </head>
  <body>
    <div class="contianer">
<!--Creating the 2 columns-->
      <div class="row">
        <div class="column">
<!--Form for column-->
        <div class="columnForm">
          <form method="POST"> 
            {% csrf_token %}
             <label for="name"> Event Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <br>
            <label for="sdt">Start Date and time:</label><br>
            <input type="datetime-local" id="sdt" name="sdt"><br>
            <br>
          <div class="columnForm2"> 
             <label for="edt"> End Date and time:</label><br>
            <input type="datetime-local" id="edt" name="edt"> 
          </div>

            <br>
            <input type="submit" value="add event">
          </form>
        </div>

        <!--events list-->

      <div class="eventsList">
          {% for event in events %}
          <br>
            <p>{{event.eventname}}</p>
            <br>
          {% endfor %}
      </div>

        </div>
        <div class="column">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker"> May </span>
              <div class="year-picker" id="year-picker">
                <span class="year-change" id="pre-year">
                  <pre><</pre>
                </span>
                <span id="year">2020 </span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
     
            <div class="calendar-body">
              <div class="calendar-week-days">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="calendar-days">
              </div>
            </div>
            <div class="calendar-footer">
            </div>
            <div class="date-time-formate">
              <div class="day-text-formate">TODAY</div>
              <div class="date-time-value">
                <div class="time-formate">02:51:20</div>
                <div class="date-formate">23 - july - 2022</div>
              </div>
            </div>
            <div class="month-list"></div>
          </div>

        </div>
      </div>
      
    </div>
  </body>
</html>